In [3]:
import pandas as pd
import numpy as np
import time
from datetime import date

def clean(x):
    
    data = pd.read_csv(x)
    print(data.shape)
    
    cols = []
    for column in data.columns:
        cols.append(column.lower())
    data.columns = cols

    #get all columns without spaces
    data.columns = data.columns.str.replace(' ', '_')

    data = data.drop('unnamed:_0', 1)

    #not sure if the state variable is important to the analyses, so I kept the rows and created a new class, "Unknown"
    data['state'] = data['state'].fillna('U')
#It only has 2 possible values values, don't know what to do...
    data['response'] = data['response'].fillna('U')
#also, state and responde are related since they share the rows with nan values

#since there's only one value to this variable, 'A', I replaced all NaN values to 'B' since I guess they're not A xD...
    data['vehicle_type'] = data['vehicle_type'].fillna('U')

    data['months_since_last_claim'] = data['months_since_last_claim'].fillna(data['months_since_last_claim'].mean()) #should I drop it or no?
    data['number_of_open_complaints'] = data['number_of_open_complaints'].fillna(0) #should I drop it or no?
#months_since_last_claim and number_of_open_complaints share the same rows... thats why both of them have 633 NaN values

    data['vehicle_size'] = data['vehicle_size'].fillna('U') #should I drop it or no?
    data['vehicle_class'] = data['vehicle_class'].fillna('U') #should I drop it or no?
#vehicle_class and vehicle_size share the same rows... thats why both of them have 622 NaN values

    data['month'] = pd.DatetimeIndex(data['effective_to_date']).month
    data[(data['month']==1) | (data['month']==2) | (data['month']==3)]
    return data

In [6]:
a = clean('marketing_customer_analysis.csv')
a

(10910, 26)

/var/folders/1_/tj8gsc8n4r3fnt406bzys4s40000gn/T/ipykernel_52257/665950534.py:19: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('unnamed:_0', 1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,U,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,U,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,U,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,U,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,U,6857.519928,U,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,U,1